@using Newtonsoft.Json.Linq
@using F1Test.ViewModels

@model ScheduledRaces

@{
    ViewBag.Title = "Races";
}
<div class="border-bottom border-danger fixed-top">
    <div class="row pl-3 pt-3 bg-light" style="margin-top:50px;">
        <div class="col-md-1">
            <a href="javascript:history.back()">Back</a>
        </div>        
    </div>
</div>

<div style="margin-top:110px;">

    @foreach (var race in Model.Races)
    {
        var location = race["Circuit"]["Location"];

        <div class="row p-1 border-bottom border-warning">
            <div class="col-md-1 text-md-right font-weight-bold">
                @race["round"]
            </div>

            <div class="col-md-1 text-md-right">
                @race["date"]
            </div>

            <div class="col-md-3">
                @Html.ActionLink(race["raceName"].ToString(), "Index", "Results",
                                                       new { id = race["season"].ToString(), arg = race["round"].ToString() }, null)
            </div>

            <div class="col-md-3">
                @race["Circuit"]["circuitName"]
            </div>

            <div class="col-md-3">
                @location["locality"], @location["country"]
            </div>
        </div>
    }
</div>



