@using Newtonsoft.Json.Linq
@using F1Test.ViewModels

@model ScheduledRaces

@{
    ViewBag.Title = "Races";
}
<div class="border-bottom border-danger fixed-top bg-light" style="height:100px; z-index:50;">
    <div class="row pl-2 pt-3 bg-light justify-content-start" style="margin-top:50px;">
        <div class="col-auto">
            <a href="javascript:history.back()">
                <i class="fas fa-chevron-left text-danger m-1"></i>
                <span class="font-weight-bold text-secondary">
                    @Model.Year
                </span>
            </a>
        </div>            
    </div>
</div>

<div style="margin-top:110px;">

    @foreach (var race in Model.Races)
    {
        var location = race["Circuit"]["Location"];

    <div class="row py-2 border-bottom border-warning">

        <div class="col-md-3">
            @*@Html.ActionLink(race["raceName"].ToString(), "Index", "Results",
                new { id = race["season"].ToString(), arg = race["round"].ToString() },
                htmlAttributes: new { @class = "font-weight-bold text-dark" })*@

            <a href="/results/index/@race["season"]/@race["round"]" class="text-dark font-weight-bold">
                @race["raceName"]
                <i class="fas fa-chevron-right text-success ml-1"></i>
            </a>

        </div>

        <div class="col-md-2 text-md-right">
            @race["date"]
        </div>

        <div class="col-md-3">
            @race["Circuit"]["circuitName"]
        </div>

        <div class="col-md-3">
            @location["locality"], @location["country"]
        </div>
    </div>
    }
</div>



